html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    .sidebar-menu-con {
        width: 200px;
        height: 100%;
    }
    .single-page-con{
        position: absolute;
        top: 100px;
        right: 0;
        bottom: 0;
        overflow: auto;
        background-color: #F0F0F0;
        z-index: 1;
        transition: left .3s;
        .single-page{
            margin: 10px;
        }
    }
}